<%= form_for(:session, url: sessions_path, html: { class: "form-signin"} ) do |f| %>

  <h2 class="form-signin-heading">Please sign in</h2>

  <%= f.text_field :email, class: "form-control", placeholder: "Email address", required: true, autofocus: true %>
  <%= f.password_field :password, class: "form-control", placeholder: "Password", required: true %>

  <div class="checkbox">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
    <span class="pull-right"><%= link_to "Sign Up", signup_path %></span>
  </div>

  <%= f.submit "Sign in", class: "btn btn-lg btn-primary btn-block" %>
<% end %>