.row
  .col-lg-4
    - _options = { class: "btn btn-primary btn-block" }
    = link_to "PLAY NEW WORDS (#{@user.study_new_word_count})", new_words_play_path, _options
    = link_to "PLAY CARDS (#{@user.study_card_count})", cards_play_path, _options
    = link_to "ADD NEW WORDS", new_new_word_path, _options
    = link_to "LIST NEW WORDS", new_words_path, _options
    = link_to "EXPORT", export_path, _options
    = link_to "USER INFO", @user, _options