<h1>Welcome#home</h1>
<p>Find me in app/views/welcome/home.html.erb</p>

<p>
    <%= link_to "Sign Up", signup_path, class: "btn btn-large btn-primary" %>
</p>
<p>
    <%= link_to "CSS Ref", "http://getbootstrap.com/2.3.2", class: "btn btn-default" %>
</p>

<%= form_tag("/query", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Query") %>
<% end %>