
<% if @word.title == nil %>
    <h1>Word not found.</h1>
<% else %>
    <h1><%= @word.title %></h1>
    
    <%= form_tag("/new_words/add", method: "post") do %>
      <%= hidden_field_tag 'word_id', @word.id %>
      <%= submit_tag("ADD") %>
    <% end %>
    
    <p>[<%= @word.pronounce %>]</p>
    <p>
        <% @word.translation_chinese.each do |k, v| %>
            <div><%= k %> <%= v %></div>
        <% end %>
    </p>
    <% @word.sentences.each do |sentence| %>
        <p>
            <div><%= sentence.english %></div>
            <div><%= sentence.chinese %></div>
        </p>
    <% end %>
<% end %>