- if @cards.empty?
  %h1 Card list is empty.
- else
  - groups = @cards.in_groups_of(20)
  %ul.nav.nav-tabs(role="tablist")
    - groups.each_with_index do |group, idx|
      - active_class = ( idx == 0 ) ? "active" : ""
      %li(class=active_class)
        %a(href="#tab#{idx}" role="tab" data-toggle="tab")= idx
  
  .tab-content
    - groups.each_with_index do |group, idx|
      - active_class = ( idx == 0 ) ? "active" : ""
      .tab-pane(id="tab#{idx}" class=active_class)
        %table.table
          %colgroup
            %col(style="width:120px")
            %col(style="width:30px")
          %thead
            %tr
              %th Schedule
              %th Count
              %th Type
              %th Word
          %tbody
            - group.each do |card|
              - if card != nil
                %tr
                  %td= card.schedule.strftime('%b %e %H:%M')
                  %td= card.study_count
                  %td= study_type_label(card)
                  %td= link_to card.word.title, card.word